<%- include('header'); -%>
  <div class="content">
    <h1 id="welcome">Contacts:</h1>
    <h2>Name: </h2>
    <h2>address: </h2>
    <h2>phone: </h2>
    <h2>email: </h2>
  </div>
  <br>
<%- include('footer'); -%>